.column-map {
    float: left;
    width: 40%;
    margin: 5%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#canvas-croquis {
    background-image: url("../images/location_pdf.png");
    background-size: 100% 100%;
    width: 70%;
    cursor: pointer;
    margin: 20% 15%;
}